.git/
result
results/
data/raw/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
thesis/main.pdf
presentation/slides.pdf
presentation/*.nav
presentation/*.snm
presentation/*.vrb
__pycache__/
.venv/
